<div class="container">
<h1>Tweet Now!</h1>

<h3>Hello, <%= @user %>!</h3>
<p>Tweet directly to Twitter using this form:</p>
<form action="/" method="POST">
  <input type="text" name="tweet"> 
  <input type="submit">
</form>

<img src="/images/ajax-loader.gif">

</div>
