<div class="container">
<h1>Recent Tweets</h1>

<p>Get the 10 most recent tweets for any twitter user</p>
<form action="/" method="POST">
  <input type="text" name="username"> 
  <input type="submit">
</form>

<img src="/images/ajax-loader.gif">

</div>
